/* 字体按钮操作 */
$primary-color: #8364fe;
$light-primary: #d198ff;
$price-color: #fd6e57;
$color-theme: #ffb41f;
$color-theme-light: #ffc757;
$color-theme-dark: #cc9019;

/* 背景色 */
$bg-color-white: #ffffff;
$bg-color-black: #000000;
$bg-color-f5: #f5f5f5;
$bg-color-f7: #f7f7f7;